body {
  width: 100%;
  margin: auto;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.content {
  padding-top: 160px;
  font-size: 14;
  font-family: Helvetica Narrow, Verdana, Arial, Sans-serif;
  line-height: 140%;
}

.footer {
  padding-top: 30px;
  font-size: 8pt;
  bottom: 0;
  position:fixed;
  background:#efefef;
  text-align:left;
  padding:10px;
  width:100%;
}

.logo {
  float: left;
  padding-bottom: 25px;
  width:100%;
}

p {
  font-size: 14;
  font-family: Helvetica Narrow, Verdana, Arial, Sans-serif;
  line-height: 140%;
} 
}

a {
  text-decoration: none;
  color: #5e5e5e;
  font-style: bold;
}

a:hover {
  color: #0000FF;
}

h1 {
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  font-size: 25;
  font-weight: normal;
  /*color: #4A525D;*/
  padding-top: 20px;  
  color: #595959;
}

strong {
  /*color: #595959;*/
}


ul.newslist{
  font-size: 14;
}

ul.newslist li{
  margin-bottom: 1em;
}

/* ############ HEADER */

.header {
  background: #ececec;
  width: 100%;
  height: 110px;
  top: 0;
  position: fixed;
  border-bottom: 45px solid #dcdcdc;
}

.nav {
  float: right;
  font-family: "Helvetica";
}
/*
.nav li {
  float: left;
  margin-left: 15px;
}*/

/* http://www.hicksdesign.co.uk/journal/highlighting-current-page-with-css */
ul.navigation{
  list-style:none; 
  font: 0.75em/1.5em normal Tahoma, Verdana, Geneva, sans-serif;
}

ul.navigation li{ 
  margin:1px;
  /*padding:5px 15px; */
  padding-right: 15px;
  display:block; 
  float:right;
  font-weight: 500;
}


ul.navigation li.highlight{ 
  color:#666;
  text-decoration: underline;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 2em 20px;
  padding: 0.5em 10px;
  font-size: 10pt;
}
